<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpen321.fridgemanager">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="com.android.alarm.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fridge_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FridgeManagerTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OcrCaptureActivity"
            android:label="@string/button_scanReceipt" />

        <activity android:name=".scanResults"
            android:label="Scan Results"
            android:screenOrientation="portrait"
            ></activity>

        /* Alarms */
        <activity android:name=".Notification.Alert_Activity"/>
        <receiver android:name=".Notification.AlertReceiver"/>

    </application>

</manifest>